@media(max-width: 767px){
    .center{
        padding-left: 16px;
        padding-right: 16px;
    }
    .top{
        &_text{
            padding-left: 0;
            display: flex;
            gap: 32px;
            align-items: center;
        }
        &_text-header{
            font-size: 32px;
            line-height: 39px;
            text-align: center;
            width: 343px;
        }
        &_text-paragraph{
            font-size: 14px;
            line-height: 22px;
            width: 100%;
            text-align: center;
        }
    }
    .games_catalog{
            &-box{
                flex-direction: column;
                align-items: center;
            }
        &-box{
            flex-direction: column;
        }
    }
    .game{
        width: 343px;
    }

    .season_game{
        height: 653.61px;
        &_block{
            flex-direction: column;
            gap: 64px;
            padding-top: 51px;
        }
        &-text{
            width: 343px;
            align-items: center;
            &_header{
                font-size: 32px;
                font-weight: 700;
                line-height: 39px;
                align-items: center;

            }
            &_paragraph{
                font-size: 14px;
                font-weight: 300;
                line-height: 22px;
                text-align: center;
            }
        }
        &-img{
            &_mob{
                width: 344px;
            }
        }
    }

    .word_game{
        height: 653.61px;
        &_block{
            display: flex;
            flex-direction: column-reverse;
            padding-top: 51px;
        }
        &-img_mob{
            width: 344px;
        }
        &-text{
            width: 343px;
            align-items: center;
            &_header{
                font-size: 32px;
                font-weight: 700;
                line-height: 39px;
                align-items: center;

            }
            &_paragraph{
                font-size: 14px;
                font-weight: 300;
                line-height: 22px;
                text-align: center;
            }
        }

    }
    .puzzle_game{
        height: 653.61px;
        &_block{
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
        }
        &-text{
            width: 343px;
            align-items: center;
            &_header{
                font-size: 32px;
                font-weight: 700;
                line-height: 39px;
                align-items: center;

            }
            &_paragraph{
                font-size: 14px;
                font-weight: 300;
                line-height: 22px;
                text-align: center;
            }
        }

    }


}
@media (min-width:768px) and (max-width: 1200px){
    .center{
        padding-left: 16px;
        padding-right: 16px;
    }
    .top_text-header{
        width: 100%;
    }
    .games_catalog-box{
        display: flex;
        gap: 32px;
        flex-wrap: wrap;
        justify-content: flex-start;
        column-gap: 32px;
    }
}
