* {
    margin: 0;
    padding: 0;
  }
  
a {
    text-decoration: none;
}
  
body {
    font-family: "Montserrat", sans-serif;
}
  
.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
  @keyframes slide-top {
    0% {
      transform: translateY(50px);
    }
    100% {
      transform: translateY(0px);
    }
}

  
input, button, textarea, select {
    font-family: "Montserrat";
    border: none;
}


.top{
    background-image: url(img/top_back.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1024px;
    &_text{
        display: flex;
        flex-direction: column;
        padding-top: 217px;
        padding-left: 120px;
            &-header{
                color: rgb(255, 255, 255);
                font-family: Montserrat;
                font-size: 64px;
                font-weight: 700;
                line-height: 78px;
                letter-spacing: 0px;
                text-align: left;
            }
            &-paragraph{
                color: rgb(255, 255, 255);
                font-family: Montserrat;
                font-size: 18px;
                font-weight: 400;
                line-height: 32px;
                letter-spacing: 0px;
                text-align: left;
                padding-top: 32px;
                width: 481px;
                &_bold{
                    font-weight: 700;
                }
            }
            &-button{
                border-radius: 30px;
                background: rgb(156, 3, 50);
                width: 234.06px;
                height: 48.6px;
                color: rgb(255, 255, 255);
                font-family: Montserrat;
                font-size: 18px;
                font-weight: 400;
                line-height: 22px;
                letter-spacing: 0px;
                text-align: center;
                margin-top: 44px;
            }
    }
}

.games_catalog{
    background: rgb(0, 9, 21);
    padding-top: 128px;
    padding-bottom: 128px;
    &-box{
        display: flex;
        gap: 32px;
        padding-left: 16px;
        padding-right: 16px;
    }
}

.game{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 379px;
    height: 300px;
    border-radius: 16px;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    &_name{
        padding-top: 236px;
        padding-left: 32px;
    }
    &_1{
        background-image: url(img/game1.jpeg); 
    }
    &_2{
        background-image: url(img/game2.jpeg);   
    }
    &_3{
        background-image: url(img/game3.jpeg);
    }
}
.season_game{
    &_block{
        display: flex;
        gap: 135px;
        align-items: center;
        justify-content: center;
        padding-top: 233px;
    }
    height: 800px;
    background-color: rgb(0, 9, 21);
    &-text{
        width: 584px;
        display: flex;
        flex-direction: column;
        gap: 32px;
        &_header{
            color: rgb(255, 255, 255);
            font-size: 48px;
            font-weight: 700;
            line-height: 59px;
        }
        &_paragraph{
            color: rgb(255, 255, 255);
            font-size: 18px;
            font-weight: 300;
            line-height: 32px;
        }
    }
    &-button{
        border-radius: 30px;
        background: rgb(156, 3, 50);
        width: 234.06px;
        height: 48.6px;
        color: rgb(255, 255, 255);
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
    }
}

.word_game{
    height: 800px;
    background-color: rgb(0, 9, 21);
    &_block{
        display: flex;
        gap: 135px;
        align-items: center;
        padding-top: 239px;
    }
    &-text{
        display: flex;
        flex-direction: column;
        gap: 32px;
        &_header{
            color: rgb(255, 255, 255);
            font-family: Montserrat;
            font-size: 48px;
            font-weight: 600;
            line-height: 59px;
            letter-spacing: 0px;
            text-align: left;
        }
        &_paragraph{
            color: rgb(255, 255, 255);
            font-size: 18px;
            font-weight: 200;
            line-height: 32px;
            letter-spacing: 0px;
            text-align: left;
        }
    }
    &-button{
        border-radius: 30px;
        background: rgb(156, 3, 50);
        width: 234.06px;
        height: 48.6px;
        color: rgb(255, 255, 255);
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
    }
}

.puzzle{
    &_game{
        background-image: url(img/puzzle_back.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 1024px;
        &_block{
            padding-top: 276px;
            display: flex;
        }
        &-text{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 32px;
        }
        &-text{
            display: flex;
            flex-direction: column;
            gap: 32px;
            &_header{
                color: rgb(255, 255, 255);
                font-family: Montserrat;
                font-size: 48px;
                font-weight: 600;
                line-height: 59px;
                letter-spacing: 0px;
                text-align: center;
            }
            &_paragraph{
                color: rgb(255, 255, 255);
                font-size: 18px;
                font-weight: 200;
                line-height: 32px;
                letter-spacing: 0px;
                text-align: center;
            }
        }
        &-button{
            border-radius: 30px;
            background: rgb(156, 3, 50);
            width: 234.06px;
            height: 48.6px;
            color: rgb(255, 255, 255);
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
        }
    }
    
}



@import "style.css";
@import "mobile.scss";