* {
    margin: 0;
    padding: 0;
  }
  
a {
    text-decoration: none;
}
  
body {
    font-family: "Montserrat", sans-serif;
}
  
.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
  @keyframes slide-top {
    0% {
      transform: translateY(50px);
    }
    100% {
      transform: translateY(0px);
    }
}

  
input, button, textarea, select {
    font-family: "Montserrat";
    border: none;
}


.top{
    background-image: url(img/top_back.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1024px;;
    &_text{
        display: flex;
        flex-direction: column;
        padding-top: 217px;
        padding-left: 120px;
            &-header{
                color: rgb(255, 255, 255);
                font-family: Montserrat;
                font-size: 64px;
                font-weight: 700;
                line-height: 78px;
                letter-spacing: 0px;
                text-align: left;
            }
            &-paragraph{
                color: rgb(255, 255, 255);
                font-family: Montserrat;
                font-size: 18px;
                font-weight: 400;
                line-height: 32px;
                letter-spacing: 0px;
                text-align: left;
                padding-top: 32px;
                width: 481px;
                &_bold{
                    font-weight: 700;
                }
            }
            &-button{
                border-radius: 30px;
                background: rgb(156, 3, 50);
                width: 234.06px;
                height: 48.6px;
                color: rgb(255, 255, 255);
                font-family: Montserrat;
                font-size: 18px;
                font-weight: 400;
                line-height: 22px;
                letter-spacing: 0px;
                text-align: center;
                margin-top: 44px;
            }
    }
}

.games_catalog{
    background: rgb(0, 9, 21);
    padding-top: 128px;
    &-box{
        display: flex;
        gap: 32px;
        padding-left: 16px;
        padding-right: 16px;
    }
}

.game{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 379px;
    height: 300px;
    border-radius: 16px;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    &_name{
        padding-top: 236px;
        padding-left: 32px;
    }
    &_1{
        background-image: url(img/game1.jpeg); 
    }
    &_2{
        background-image: url(img/game2.jpeg);   
    }
    &_3{
        background-image: url(img/game3.jpeg);
    }
}
@import "style.css";
@import "mobile.scss";