@import "style.css";
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

@keyframes slide-top {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
  }
}
input, button, textarea, select {
  font-family: "Montserrat";
  border: none;
}

.top {
  background-image: url(img/top_back.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1024px;
}
.top_text {
  display: flex;
  flex-direction: column;
  padding-top: 217px;
  padding-left: 120px;
}
.top_text-header {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
}
.top_text-paragraph {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 32px;
  width: 481px;
}
.top_text-paragraph_bold {
  font-weight: 700;
}
.top_text-button {
  border-radius: 30px;
  background: rgb(156, 3, 50);
  width: 234.06px;
  height: 48.6px;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  margin-top: 44px;
}

.games_catalog {
  background: rgb(0, 9, 21);
  padding-top: 128px;
  padding-bottom: 128px;
}
.games_catalog-box {
  display: flex;
  gap: 32px;
  padding-left: 16px;
  padding-right: 16px;
}

.game {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 379px;
  height: 300px;
  border-radius: 16px;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}
.game_name {
  padding-top: 236px;
  padding-left: 32px;
}
.game_1 {
  background-image: url(img/game1.jpeg);
}
.game_2 {
  background-image: url(img/game2.jpeg);
}
.game_3 {
  background-image: url(img/game3.jpeg);
}

.season_game {
  height: 800px;
  background-color: rgb(0, 9, 21);
}
.season_game_block {
  display: flex;
  gap: 135px;
  align-items: center;
  justify-content: center;
  padding-top: 233px;
}
.season_game-text {
  width: 584px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.season_game-text_header {
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
}
.season_game-text_paragraph {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
}
.season_game-button {
  border-radius: 30px;
  background: rgb(156, 3, 50);
  width: 234.06px;
  height: 48.6px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.word_game {
  height: 800px;
  background-color: rgb(0, 9, 21);
}
.word_game_block {
  display: flex;
  gap: 135px;
  align-items: center;
  padding-top: 239px;
}
.word_game-text {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.word_game-text_header {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 600;
  line-height: 59px;
  letter-spacing: 0px;
  text-align: left;
}
.word_game-text_paragraph {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 200;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top_text {
    padding-left: 0;
    display: flex;
    gap: 32px;
    align-items: center;
  }
  .top_text-header {
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    width: 343px;
  }
  .top_text-paragraph {
    font-size: 14px;
    line-height: 22px;
    width: 100%;
    text-align: center;
  }
  .games_catalog-box {
    flex-direction: column;
    align-items: center;
  }
  .games_catalog-box {
    flex-direction: column;
  }
  .game {
    width: 343px;
  }
  .season_game {
    height: 653.61px;
  }
  .season_game_block {
    flex-direction: column;
    gap: 64px;
  }
  .season_game-text {
    width: 343px;
    align-items: center;
  }
  .season_game-text_header {
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    align-items: center;
  }
  .season_game-text_paragraph {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: center;
  }
  .season_game-img_mob {
    width: 344px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top_text-header {
    width: 100%;
  }
  .games_catalog-box {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: flex-start;
    -moz-column-gap: 32px;
         column-gap: 32px;
  }
}/*# sourceMappingURL=style.css.map */